              <div class="col-lg-6">
                <ul class="list-unstyled">
                     
                  <li>
                    <a href="/posts/ai.html">
                      人工智能
                    </a>
                  </li>
                  <li>
                    <a href="/posts/frontback.html">
                      前后端技术
                    </a>
                  </li>
                  <li>
                    <a href="/about.html">
                      关于我
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">                 
		              <li>
                    <a href="/posts/basis.html">
                      计算机基础
                    </a>
                  </li>
                  <li>
                    <a href="/posts/essay.html">
                      生活随笔
                    </a>
                  </li>
                 
                </ul>
              </div>
              <!-- /.col-lg-6 -->
