            <ul class="list-unstyled">
              <li>
                <a href="https://face2ai.com/">谭升的博客</a>  主要是cuda，AI数学基础等
              </li>
              <li>
                <a href="https://kexue.fm/">科学空间</a>  苏建林博客，主要是自然语言处理
              </li>
              <li>
                <a href="http://zhangtielei.com/">铁蕾的博客</a>  铁蕾的博客，主要是分布式系统，后端等
              </li>
              <li>
                <a href="https://blog.lucida.me/">巩鹏的博客</a>  巩鹏，程序员必读书单作者
              </li>
              <li>
                <a href="https://developer.nvidia.com/zh-cn/blog">Nvidia Cuda官方博客</a> cuda最新进展
              </li> 
              <li>
                <a href="https://www.cnblogs.com/pinard/">刘建平博客</a> 数学统计学，数据挖掘，机器学习，大数据平台，大数据平台应用开发，大数据可视化
              </li> 
               <li>
                <a href="https://blog.devtang.com/">唐巧的博客</a>   iOS工程师，猿辅导工作
              </li>     
               
              <li>
                <a href="http://www.huaxiaozhuan.com/">华校专的博客</a> 阿里资深算法工程师
              </li>   

              <li>
                <a href="https://pytorch.org/blog/">pytorch官方的博客</a> 性能优化文章
              </li>   
              
            </ul>
